body {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #ffffff;
  --text-color: #5e5e5e;
  --text-key-bg: #eaeaea;
  --text-key-color: #000;
}

.visually-hidden {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}
